{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'res/css/theme.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>
        {% block title %}
        ReleCloud - Expand your horizons
        {% endblock %}
    </title>
    <style>
        {% if request.path == '/' %}
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden; /* Bloquea el scroll */
            position: fixed; /* Fija la pantalla */
        }
        {% endif %}
    </style>
</head>
<body>
    {% comment %} <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-translucent-secondary">
        <img src="{% static 'res/img/small-logo.png' %}" width="60" height="auto" alt="Rocket ship logo" />
        <a class="navbar-brand tk-elevon" href="{% url 'index' %}">&nbsp; ReleCloud Space Tourism</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'info_request' %}">Request Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'destinations' %}">Destinations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <!-- Nuevo enlace al formulario de registro -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                </li>
            </ul>
        </div>
    </nav> {% endcomment %}

    <main role="main">
        <div class="main-header" style="position: relative; background-image: url('{% static "res/img/priego.jpg" %}'); background-size: cover; height: 100vh; overflow: hidden;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6);"></div>
            <div class="container" style="position: relative; z-index: 1;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'res/img/image.png' %}" class="img img-fluid" />
                    </div>
                    <div class="col-md-8 ml-md-auto align-self-center text-center">
                        
                        {% if request.path == '/' %}
                            <h1 class="display-1 text-white">Inicio de sesión</h1>
                            <div class="mt-4">
                                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Iniciar sesión</a>
                                <a href="{% url 'Registro' %}" class="btn btn-outline-light btn-lg ml-2">Registrarse</a>
                            </div>
                        {% else %}
                            <h1 class="display-1 text-white">Be Rural</h1>
                        {% endif %}
    
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% if request.path != '/' %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
        {% endif %}

        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-4">
                    {% block left_image %}
                    <img src="{% static 'res/img/astronaut.jpeg' %}" alt="Astronaut image placeholder" class="img-fluid">
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block content %}
                    <h1 class="display-4 tk-elevon">Lorem Ipsum Dolor</h1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit...
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endif %}
    </main>
   </body>
</html>
