{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
ReleCloud - {{ cruise.name }}
{% endblock %}

{% block content %}
<h1>
    {{ cruise.name }}
</h1>
<p>
{{ cruise.description }}
</p>
<p>You can explore {{ cruise.name }} on the following cruises:</p>
<ul class="list-group">
    {% for destination in cruise.destinations.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">{{ destination.name }}</a>
    {% endfor %}
</ul>

<h2>Reviews</h2>
<p>
  Average Rating:
  {% for _ in full_stars %}
  <i class="fas fa-star text-warning"></i>
  {% endfor %}
  {% for _ in empty_stars %}
  <i class="far fa-star text-warning"></i>
  {% endfor %}
</p>


  <div class="review-list">
    {% for review in reviews %}
    <div class="card mb-3 shadow-sm">
      <div class="card-body">  
    <div>
      <!-- Renderizar estrellas para cada review -->
      {% for _ in review.full_stars %}
      <i class="fas fa-star text-warning"></i>
      {% endfor %}
      {% for _ in review.empty_stars %}
      <i class="far fa-star text-warning"></i>
      {% endfor %}
    </div>
 
 
    <p>   {{ review.comment }}</p>
  </div>
  </div>

  {% empty %}
  <p>No reviews yet. Be the first to review this destination!</p>
  {% endfor %}


<!-- Review submission form -->
<h3>Add a Review</h3>
<form method="post" action="{% url 'add_review' cruise.pk 'cruise' %}">
    {% csrf_token %}
  
    <label for="rating">Rating:</label>
    <div class="text-center">
    <div id="star-rating" class="star-rating">
        {% for i in "54321"|make_list %}
        <input type="radio" id="star-{{ i }}" name="rating" value="{{ i }}" required />
        <label for="star-{{ i }}" title="{{ i }} stars">
            <i class="fas fa-star"></i>
        </label>
        {% endfor %}
    </div>
  </div>

    <label for="id_comment">Comment:</label>
    <br>
    <textarea name="comment" id="id_comment" required></textarea>

    <br>

    <button type="submit" class="btn btn-success mt-2 ">Submit Review</button>
</form>
</div>
</div>
{% endblock content %}