{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
ReleCloud - Request Information
{% endblock title %}

{% block content %}
<h1>Request Information</h1>
<h2>Fill out the form below to request information about our cruises</h2>

<!-- Mostrar mensajes de éxito o error -->
{% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}
