{% extends "base.html" %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Recuperar Contraseña</h1>
        <p>Introduce tu correo electrónico y te enviaremos instrucciones para restablecer tu contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
{% endblock %}

