# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/
relecloud/venv

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración de IDEs
.vscode/
.idea/

# Migrations cache
**/migrations/**/__pycache__/
**/migrations/*.pyc

# Archivos de configuración temporales
*.swp
*.swo
*.tmp


# Archivos sensibles
.env


# Archivos y directorios de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual
env/
venv/
ENV/
.venv/
.env/

# Archivos de configuración local y de usuario
*.local

# Bases de datos SQLite (si las usas en desarrollo)
*.sqlite3

# Archivos de logs
*.log

# Archivos temporales y de compilación
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg

# Configuraciones de IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Otros archivos temporales
*.bak
*.swp