{% extends "base.html" %}
{% load static %}

{% block title %}Correo Enviado{% endblock %}

{% block content %}
<div class="auth-container">
  <div class="auth-image"></div>

  <div class="auth-form">
    <div class="logo-container">
      <img src="{% static 'res/img/image.png' %}" alt="Logo Be Rural">
    </div>

    <h1>Correo Enviado</h1>
    <p>Si el correo está registrado, recibirás un enlace para restablecer tu contraseña.</p>

    <a href="{% url 'login' %}" class="btn">Volver al inicio de sesión</a>
  </div>
</div>
{% endblock %}
